<div class="d-flex justify-content-center mb-0" style="margin-bottom:0;">
  <div class="col-10 mb-0" style="margin-bottom:0;">
    <h1 class="mb-1">Contact</h1>
    <p class="mb-1">Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
  </div>
</div>
<div class="container d-flex justify-content-center align-items-start" style="margin-top:0; padding-top:0;">
  <div class="col-6 border p-4" style="border-width:1px !important;">
    <form>
      <div class="mb-3 row align-items-center">
        <label for="exampleInputEmail1" class="col-sm-4 col-form-label fw-bold text-start">Email address</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
      </div>
      <div class="mb-3 row align-items-center">
        <label for="exampleInputPassword1" class="col-sm-4 col-form-label fw-bold text-start">Your Message</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>