<div class="row featurette col-10 mx-auto align-items-center">
    <div class="col-md-7 order-md-2 no-gap">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for
                yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
            layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1 no-gap">
        <svg aria-label="Placeholder: 250x250"
            class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid"
            height="250" width="250"
            preserveAspectRatio="xMidYMid slice" role="img"
            xmlns="http://www.w3.org/2000/svg">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
            <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">250x250</text>
        </svg>
    </div>
</div>